.section {
  text-align: center;
  margin: 150px auto 0;
  padding: 120px;
  width: 1200px;
  height: 350px;
  background: rgb(213, 211, 209)
}

.heading {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
}

.description {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 50px 0;
}

.link-back {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  text-decoration: none;
  color: rgb(33, 33, 33);
}

.link-back:hover {
  color: aquamarine;
}
